{
  "cookieSecret": "!!!<<<CHANGEME_COOKIE_SECRET>>>!!!",
  "jwtSecret": "!!!<<<CHANGEME_JWT_SECRET>>>!!!",
  "baseUrl": "https://api.example.com/",
  "mainFrontendUrl": "https://portal.example.com/",
  "mail": {
    "from": "!!!<<<CHANGEME_MAIL_SENDER>>>!!!",
    "smtp" : {
      "host": "!!!<<<CHANGEME_MAIL_HOST>>>!!!",
      "port": "!!!<<<CHANGEME_MAIL_PORT>>>!!!",
      "starttls": false,
      "username": "!!!<<<CHANGEME_MAIL_USER>>>!!!",
      "password": "!!!<<<CHANGEME_MAIL_PASSWORD>>>!!!"
    }
  },
  "mongodb": {
    "url": "mongodb://mongo/obs",
    "debug": false
  },
  "redisUrl": "redis://redis",
  "oAuth2Clients": [
    {
      "clientId": "!!!<<<CHANGEME_PORTAL_CLIENT_ID>>>!!!",
      "validRedirectUris": ["https://portal.example.com/redirect"],
      "refreshTokenExpirySeconds": 604800,
      "maxScope": "*",
      "title": "OBS Portal"
    },
    {
      "clientId": "!!!<<<CHANGEME_UPLOAD_CLIENT_ID>>>!!!",
      "validRedirectUris": ["__LOCAL__"],
      "maxScope": "track.upload",
      "refreshTokenExpirySeconds": 86400000,
      "title": "OpenBikeSensor"
    }
  ],
  "imprintUrl": "https://example.com/imprint",
  "privacyPolicyUrl": "https://example.com/privacy"
}
